
body {
  background-color: #2d2d2d;
  color: white;
  font: "Source Sans Pro", "Lucida Grande", sans-serif
  ;
}

a {
  color: aquamarine;
}

header {
  border-image: linear-gradient(-139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
  border-width: 10px 0 0;
  border-top-style: solid;
  border-bottom-style: solid;
  padding: 1em;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 strong {
  color: aquamarine;
}

main {
  padding: 1em
}

section.viewer {
  display: flex;
  
  margin: 1em -0.2em;
}
section.viewer > section {
  border-right: 1px solid #f08;
  margin: .2em;
  flex: 0.2
}
section.viewer > section:last-child {
  flex: 1;
  border-right: none
}

nav {
  display: flex;
  flex-direction: column;
}

pre {
  margin: 0
}